.subscribe-container {
    border: 5px solid #9ddcdc;
    border-radius: 30px;
    color: #e67a7a;
    width: 70%;
    margin: 3% auto;
    padding: 3% 5%;
    text-align: center; 
    font-size: large;
}

.subscribe-container h2 {
    font-weight: bold;
    padding-bottom: 30px;
}

.subscribe-container label {
    display: inline-block; 
    margin-bottom: 5px;
    width: 35%; 
    font-weight: 500;
}

.subscribe-container input[type="text"] {
    display: inline-block; 
    width: 65%; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.choicesContainer{
    display: inline-block;
    vertical-align: top;
    width: 65%; 
    text-align: left;
} 

input[type="checkbox"] {
    margin-right: 30px;
}

.choice {
    cursor: pointer;
  }

.error-message {
    color: red;
    text-align: left;
}

button[type=submit] {
    color: black;
    margin-top: 30px;
}

.success{
    margin-top: 10%;
    color: #e67a7a;
    height: 45vh;
}